/* Media query for medium+ views */
@media only screen and (min-width: 800px) {
    .welcome, .events-title, .weather-title, .temp .weather-description,
        .spotlight-title-1, .spotlight-title-2, .spotlight-title-3, .new-title {
        font-size: 1.7em;
    }
    .join-label, .required-desc, .join-submit-btn {
        font-size: 1.3em;
    }
    p, li, a, button, img {
        font-size: 1.6em;
    }
    /* Header */
    header {
        align-items: center;
    }
    .social-img {
        width: 40px;
    }
    .logo {
        height: auto;
        width: auto;
    }
    .main-header {
        font-size: 2.2em;
    }
    .main-subheader {
        font-size: 1.6em;
        margin: auto;
        width: fit-content;
    }
    .hamburger-img {
        width: 35px;
    }
    /* Main */
    #home-main {
        grid-template-columns: 2fr 1fr 1fr 2fr;
    }
    #weather {
        grid-column: 4/5;
        grid-row: 5/6;
    }
    #join {
        grid-column: 1/5;
        grid-row: 4/5;  
        display: block;
        text-align: center;
        /* border: solid black; */
    }
    #hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    #news {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    #events {
        grid-column: 1/4;
        grid-row: 5/6;
        display: block;
        align-items: center;
    }
    #company-spotlights {
        grid-column: 1/5;
        grid-row: 3/4;
    }
    .hero-img-1, .hero-img-1-small, .hero-img-1-large {
        display: none;
    }       
    .hero-img-2 {
        display: block;
    }
    .call-to-action {
        bottom: 25px;
        left: 25px;
        font-size: 2em;
        padding: 15px;
        border-radius: 10px;
    }
    .join-btn {
        padding: 20px;
        width: 70%;
    }
    /* Join */
    .hmemb {
        font-size: 1.6em;
    }
    /* Directory */
    .directors-contacts {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bus-link {
        font-size: 1.1em;
    }
    .bus-cards-box {
        grid-template-columns: 1fr 1fr; 
    }
    /* Contact */
    .inquiry-form {
        font-size: 1.5em;
    }
}