@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

#home-body, li, h3, p, a, label, .join-submit-btn {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
.welcome, .events-title, .weather-title, .temp .weather-description,
    .spotlight-title-1, .spotlight-title-2, .spotlight-title-3, .new-title {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
.call-to-action, .join-btn {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}
#logo-header {
    border-radius: 3px;
}
#top {
    border-radius: 3px;
    margin-bottom: 10px;
}
.home-header {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.headings{
    grid-row: 1/2;
    display: flex;
    align-items: left;
	flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
}

#msg-box {
    text-align: center;
}
.hamburger-img {
    width: 20px;
}
.link-list {
    margin: 0;
}
.logo-header-box {
    grid-row: 1/2;
    width: 7em;
    height: 7em;
    display:flex;
    align-items: center;
    margin-left: 10px;
    width: 64px;
}
.main-header {
    font-size: 1.3em;
}

.main-subheader {
    font-size: 1em;
}
.social {
    display: flex;
    flex-direction: column;
}
.social-img {
    width: 30px;
}
.social-img:hover {
    box-shadow: 1px 4px 2px 0 #969696;
}
#date { 
    /* background-color: grey; */
    margin: 0;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.top-bar-nav {
    margin: 0 auto;
}
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li:first-child{
    border-radius: 3px;
    display: block;
}
.link-list li {
    display: none;
}
.link-list a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
}
.responsive .hamburger {
    color: white;
    background-color: grey;
}
.responsive li {
    display: block;
}

#home-main, .contact-main {
    display: grid;
    grid-template-columns: 1fr;
}
#weather {
    grid-area: 2/1/3/2;
}
.weather-img {
    width: 150px;
}

#events {
    display: none;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}
#hero {
    text-align: center;
}
#news {
    grid-area: 3/1/4/2;
    text-align: center;
}
#join {
    display: none;
}
.photo-box {
    position: relative;
}
.welcome {
    position: absolute;
    top: 8px;
    left: 16px;
}
.main-box {
    opacity: 99%;
    background-color: #67aaf9;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 3px;
}
.hero-image {
    max-width: 100%;
    border-radius: 3px;
}
.hero-img-1, .hero-img-2, .hero-img-1-large {
    display: none;
}
.call-to-action {
    position: absolute;
    font-size: 1.3em;
    bottom: 16px;
    left: 16px;
    border-radius: 3px;
}

.weather-title {
    text-align: center;
}
.weather-main-content {
    display: flex;
    justify-content: space-around;
}
.weather-description {
    text-align: center;
}
.wind-speed {
    display: flex;
    justify-content: space-around;
}
.wind-chill {
    display: flex;
    justify-content: space-around;
}

#company-spotlights {
    grid-area: 4/1/5/2;
}
.spotlight-1, .spotlight-2, .spotlight-3 {
    text-align: center;
    margin: 7px 10px 0 10px;
    border-style: solid;
}
.spotlight-3 {
    display: none
}
.spotlight-img-1, .spotlight-img-2, .spotlight-img-3 {
    width: 100px;
}

.home-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    
}
#logo-footer {
    margin-top: 20px;
    border-radius: 3px;
}
#contact {
    text-align: center;
}
.bottom {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.town-img-section {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
.town-img {
    justify-content: center;
    width: fit-content;
    max-width: 100%;
}
.town-img:hover {
    box-shadow: 5px 5px 5px 3px grey;
    transition: .5s;
}
/* Join */
.join-header {
    min-height: 100px;
}
.join-h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.required {
    color: red;
    font-size: 1.3em;
}
.thank-body {
    text-align: center;
}
.thank-head {
    font-size: 2.5em;
}
/* Discover */
.discover-header {
    text-align: center;
}
.disc-hr {
    border: .1px solid;
    border-radius: 5px;
}
/* Directory */
.bus-cards-box {
    display: grid;
    grid-template-columns: 1fr;
}
.bus-cards-box {
    padding: 2px 16px;
}
.bus-list-box {
    display: none;
}
.bus-li {
    margin: 20px 0 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
    margin: 1em 1em 1em;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.info-box {
    padding: 15px;
}
.bus-logo {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}
.bus-link:hover {
    color: red;
}
.view-buttons {
    text-align: center;
    text-align: center;
    margin: 1.5em 0 1.5em;
}
.card-icon, .list-icon {
    justify-content: center;
    width: 35px;
}
.bus-list-box > div:nth-child(odd){
    background: #efefef;
}
/* Contact */
.directors-contacts {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-img {
    max-width: 100%;
}
.directors-headline, .contact-headline {
    text-align: center;
}
.inquiry-form {
    font-size: 1em;
    padding: 20px;
    
}
.contact-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-submit {
    width: 100%;
    background-color: #5899e2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea {
    font-family: 'Arial', sans-serif; 
}
.join-main {
    margin-top: 15px;
}
.join-main hr {
    border: .5px solid black;
}