
nav {background-color: #111;}
nav ul{margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: black;}
nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}

main h1{
    color: black;
}